/* Desktop - 1 */

body{
position: relative;
width: 100%;
height: 100vh;
background: #1B3C53;
overflow-x:hidden ;
}
.mobile-content{
  display: none;
}

#eeee{/* Ellipse 5 */
/* Ellipse 5 */

position: absolute;
width: 614.51px;
height: 639px;
left: 40%;
display: none;
background: #456882;
border-radius: 80% 30% 50% 40%;
z-index: -2;
}
.desktop-container {
    display: flex;
    height: 100vh;
    max-width: 100%;
    margin-inline: auto;
  }
  
  .fixed-sidebar {
    width: 40%;
    color: #fff;
    padding: 1rem;
    position: sticky; /* keeps it in place during scroll */
    top: 0;
    height: 80%;
    overflow: none;
    
    
  }
.profile{
    display: none;

}
  #head1{
 /* Hello. */
width: 129px;
height: 68px;
left: 30px;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 68px;
/* identical to box height */

color: #F9F3EF;
  }

  #head2{
/* Group 2 */
width: 100%;
height: 69px;
left: 2px;

  }
#head3{
    /* UI/UX Designer & Front-End Developer */
width: 100%;
height: 11%;
left: calc(50% - 632px/2 + 0.5px);

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 50px;
/* or 100% */
text-align: center;
color: #D2C1B6;
opacity: 0.7;
text-shadow: 0px 4px 4px rgba(168, 135, 132, 0.25);
padding-bottom: 20%;

  }
#text1{
    /* I design clean user experiences and build accessible, responsive web apps. */
width: 100%;
height: 100px;
left: 30px;

font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;
/* or 100% */
color: #FFFFFF;
opacity: 0.8;
padding-top: 4%;
padding-bottom: 20%;

  }

.link{
/* ABOUT */
font-family: 'DM Mono';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 15px;
/* or 167% */
padding-top: 10%;
-webkit-text-fill-color: #D2C1B6 !important;
}
.link:hover{
opacity: 50%;
}
a:link{
  text-decoration: none;
}

#icons2{
    /* Group 1 */
width: 90%;
height: 40px;

align-items: center;


}
#icons{
  display: none;
}
.scrollable-content {
    width: 60%;
    overflow-y: scroll;
    padding: 2rem;
    height: 100vh;
}

#second-text{
/* Hi, I’m a passionate UI/UX Designer and Front-End Developer who bridges the gap between beautiful design and functional code. With a deep love for crafting intuitive digital experiences, I specialize in designing user-first interfaces and building clean, responsive websites. My process blends thoughtful UX research with pixel-perfect design and modern development practices. I enjoy solving real-world problems with smart, scalable design systems and sleek front-end development — turning complex ideas into simple, elegant interfaces. When I'm not designing or coding, I’m exploring new design trends, refining my Figma shortcuts, or contributing to passion projects. Currently working on a personal finance app to simplify everyday budgeting. */
width: 95%;

padding-bottom: 30% ;
position: relative;
  text-align: justify;
font-family: 'DM Mono';
font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 50px;
/* or 167% */
color: #F9F3EF;

}


#second-text2{
/* Each project I work on is rooted in real user needs and strategic design thinking. Below is a selection of case studies and builds that highlight my process—from wireframes and workflows to clean, responsive development. I approach every project with a mix of UX empathy and frontend precisio */
width: 95%;

padding-bottom: 20% ;

text-align: justify;
font-family: 'DM Mono';
font-style: normal;
font-weight: 500;
font-size: 2rem;
line-height: 50px;
position: relative;
/* or 167% */
color: #FFFFFF;
}

.second-heading{
    /* I'm a hybrid designer & developer who loves crafting beautiful, user-first digital products. */
width: 90%;
height: 284px;
left: 54px;
top: 76px;
align-content: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 2.2rem;
line-height: 60px;
/* or 100% */
text-align: center;
color: #FFFFFF;
padding-bottom: 20%;

} 
#second-text3{
display: none;
}
.flex-container{/* Component 2 */

position: relative;
width: 80%;
height: 69px;
display: flex;
flex-direction: column;
align-items: center;

}
#project{ 
margin-bottom: 37px;
width: 264px;
height: 69px;
background-color: #456882;
border-radius: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;

color: #FFFFFF;

}
#resume{
margin-bottom: 37px;
width: 264px;
height: 69px;
background-color: #456882;
border-radius: 50px;
align-items: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;


color: #FFFFFF;
  }
#icons{
width: 100%;
height: 40px;
left: 40px;
padding: 5px;

    
    align-items: center;
 
}


#resume:hover{
  background-color: #9B9998;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);

}
#project:hover{
  background-color: #9B9998;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);

}
